<div class="banner border-bottom border-white" style="background-color: #0E2836">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand btn btn-outline-light" href="/cocktails">The zone</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-light my-2 my-sm-0" href="/cocktails/new">Add a cocktail</a>
    </form>
  </nav>
  <h1 class="d-flex justify-content-center"><%= @cocktail.name %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>Ingredients</h4>
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li> <%= dose.description %> <%= dose.ingredient.name %> <%= link_to 'Delete' %></li>
          <% end %>
        </ul>

      <h4>Add a new ingredient</h4>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Add", class: "btn btn-outline-light" %>
    <% end %>
    </div>

    <div class="col-sm">
      <% if @cocktail.photo.attached? %>
        <%= image_tag @cocktail.photo, class: "c-img-show" %>
      <% end %>
    </div>
  </div>
</div>
